body{
  background-color: #DBD9D9;
  font-family: Comic Sans MS,cursive;
}

.foter{
  border: 0;
  background-color: #828282;
  font-size: 16px;
  text-align: center;
  color: BLACK;
  width: 80%;
  bottom:0;
  position:fixed;
  margin:0 10% 0 10%;
  border-radius: 20px 20px 0 0;
}
/*header*/
.header{
  border: 0;
  background-color: #793294;
  height: 50px;
  width: 100%;
  left: 0;
  right: 0;
  color: BLACK;
  top:0;
  position: fixed;
  border-radius: 0 0 20px 20px;
}
.account{
  margin-left: 5px;
  position: fixed;
  border-radius: 0 0 40px 40px;
  background-color: #C4C4C4;
  float: left;
  padding-right: 5px;

}
.account_photo{
  border-radius: 0 0 10px 10px;
  height: 30px;
  width: 30px;
  background-image: url(photo/dog-and-cat-1024x768.jpg);
  float: left;
}
.add_photo{
  border: 0;
  background-color: #C4C4C4;
  margin-left: 40%;
  margin-right: 20%;
  margin-top: 10px;
	width:20%;
  font-size: 16px;
  text-align: center;
  color: BLACK;
  border-radius: 20px 20px 20px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}
.add_photo a{
  display: block;
  height: 100%;
  text-decoration: none;
}
.sign_in
{
  border: 0;
  background-color: #C4C4C4;
  margin-right: 10px;
  margin-top: 10px;
  height: 20px;
  width:20%;
  margin-left: 80%;
  font-size: 16px;
  text-align: center;
  color: BLACK;
  border-radius: 20px 20px 20px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sign_in a{
  display: block;
  height: 100%;
  text-decoration: none;
}
/*header*/
/*filter*/
.filter{
  background-color: #CD79ED;
  border-radius: 20px 20px 20px 20px;
  width: 210px;
  position: fixed;
  height: 50px;
  z-index:1;
  top: 70px;
  left: 5px;
  color: BLACK;
  cursor: pointer;
  text-align: center;
}
/*filter*/
.nav {
  color: BLACK;
	float: left;
	list-style-type: none;
	font-size: 17px;
	position: relative;
	width: 150px;
}
.dropdown {
	display: none;
	list-style-type: none;
	background-color: #FFFFFF;
	font-size: 20px;
  border-radius: 10px 10px 10px 10px;
}
.dropdown li {
	padding: 10px 5px 5px 5px;
  text-align: left;
}
.nav:hover .dropdown {
	position: relative;
	display: block;
	padding: 0;
}
.input_text{
  border-radius: 10px 10px 10px 10px;
  border-color: #E0E0E0;
}
.input_date{
  width: 100px;
  border-radius: 10px 10px 10px 10px;
  border-color: #E0E0E0;
}
