.window_sign_in{
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #9932CC;
    border-radius: 20px;
    background-color: #D3D3D3;
    text-align: center;
    margin: -125px 0 0 -200px;
}
.button_signIn{ 
    background-color: #00D459;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    float: left;
    margin-bottom: 100px;
  }
  .button_cancel2{
    font-size: 20px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 20px;
    float: right;
    margin-bottom: 100px;
  }
  .input_signin{
    width: 50%;
    border: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin: 0 25% 0 25%;
    margin-bottom: 10px;
  }
  .overlay {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: black;
    min-width: 100%;
    min-height: 100%;
    opacity: .7;
  }